var state = {
    Users: [Id,...],
    Rows: {
        Id: {
            tracks: {
                Id: {
                    fp: String,
                    start: Number,
                    end: Number,
                    tags: {
                        id: {
                            type: String,
                            start: Number,
                            end: Number
                        },
                        ...
                    }
                },
                ...
            }
        },
        ...
    }
}